<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bugu.radar.student.dao.StudentDao">
    <resultMap id="BaseResultMap" type="co.bugu.radar.student.domain.Student">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
    <sql id="Base_Column_List">
    id, name, nickname, gender, grade, school_name, is_del, create_time, update_time
  </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="findByObject" parameterType="co.bugu.radar.student.domain.Student" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
      </select>
</mapper>